/* cor da pagina */
.bg-custom {
      background-color: #202530;
}

/* estilização das informações, sobre, formação e idioma  */
.info {
      margin-top: 4rem;
      text-align: center;
}

.info div{
      margin-bottom: 2rem;
}

.link {
      color: #ccc;
}

.link:hover {
      color: #44f;
      transition: color 0.15s;
}

/* estilo do rodapé */
footer {
      margin: 0 2rem;
      border-top: 1px solid #aaa;
}

.contact {
      justify-content: space-around;
      padding: 1rem ;
}

.contact span {
      margin: 0 1rem;
}