<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
    
    <title>Daniel Bichof</title>
  </head>
  <body class="bg-custom text-white">

    <!-- Botão flutuante - voltar para o inicio -->
    <div class="container-fluid p-4">
      <a 
      style="padding: 0.8rem 0.5rem ; position: fixed; box-shadow: 0px 0px 5px #222;" class="navbar-brand bg-dark bg-gradient text-white rounded-4" href="#">
      <strong>      
        <img style="width: 30px; filter:invert(0.9);" src="../assets/terminal-solid.svg"/>
      </strong>
    </a>

    </div>
    
    <div class=" text-white d-block vh-100 w-50" style="padding: 50vh 5rem 1rem; margin-top: -3em;">
      <h1>Daniel Bichof</h1>
      <span>Desenvolvedor</span>
        <span class="text-white"> • </span>
        <span style="color: #f7eac0">Curitiba, PR</span>
    </div>
    
    <div class="w-auto vh-50 p-5 text-center" style="background: #1c5b6d; color: #ccc">
      <p class="text-white">"As pessoas que são loucas o suficiente para achar que podem mudar o mundo são aquelas que o mudam"</p>
      <p>Steve jobs</p>
    </div>
    
    <div class="info">
      <div class="sobre">
        <h2 class="text-white text-center pt-3">SOBRE</h2>
        <span>Tenho 19 anos, curioso e apaixonado por tecnologia, estudando cybersecurity de forma autodidata </span>
      </div>
      <div class="formacao">
        <h2 class="text-white text-center pt-3">FORMAÇÃO</h2>
        <span><strong>Análise e desenvolvimento de sistemas</strong> • <span style="color: #f7eac0">UNINTER</span> - 4° semestre</span>
        <h3 class="text-white text-center pt-3">Idioma</h3>
        <span>Inglês - intermediário </span>
      </div>
      
    </div>
      <div>
        <h2 class="text-white text-center pt-3">SKILLS</h2>
        <app-card></app-card>
      </div>
    
    <div class="projetos text-center">
      <h2 class="text-white ">PROJETOS</h2>
      <span>Explore alguns projetos no meu <a class="link" href="https//:github.com/Daniel-Bichof">github</a></span>
    </div>
    
    <footer class="text-center">
      <div class="contact p-3">
        <span>
          daniel.h.bichof@gmail.com
        </span>
        <span class="link">
          <a href="https://www.instagram.com/daniel_bichof/">Instagram</a>
        </span>
      </div>
    </footer>
  </body>
</html>
