* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}


body::-webkit-scrollbar {
      width: 10px;
      /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
      background: #2a2936;
      /* color of the tracking area */
}


body::-webkit-scrollbar-thumb {
      background-color: #445;
      /* color of the scroll thumb */
      border-radius: 3px;
      /* roundness of the scroll thumb */
      border: 1px solid #302d4d;
      /* creates padding around scroll thumb */
}